// шрифти
$font-family: 'DM Sans', sans-serif;
$second-family: 'Titan One', sans-serif;
// кольори
$colorTextTitle: #D41443;
$colorTextSubTitle: #FFA5BA;
$colorTextPrimery: #FFFFFF;
$colorTextSecondary: #000000;
$colorTextThirthry: #907E82;
$colorCardPrimery: #F0D1A5;
$colorCardSecondary: #C2E297;
