// шрифти
$font-family: 'DM Sans', sans-serif;
$second-family: 'Titan One', sans-serif;
// кольори
$colorTextTitle: #d41443;
$colorTextSubTitle: #ffa5ba;
$colorTextPrimery: #ffffff;
$colorTextSecondary: #000000;
$colorTextThirthry: #907e82;
$colorCardPrimery: #f0d1a5;
$colorCardSecondary: #c2e297;
$colorBgPrimary: #fff5f6;
