<header class="header">
  <div class="container header__container">
    <a href="./" class="header__logo">
      <img src="./images/header/logo.png" alt="logo" class="header__logo-img" />
    </a>

    <div class="mobile-menu">
      <button class="mobile-menu__btn menu-btn" data-menu-btn>
        <span class="menu-btn__line"></span>
      </button>
      <div class="mobile-menu__wrapp" data-menu>
        <div class="btn-container"><button class="button">Buy now</button></div>
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="./" data-mobile-link class="nav__link">Home</a>
            </li>
            <li class="nav__item">
              <a href="./" data-mobile-link class="nav__link">About us</a>
            </li>
            <li class="nav__item">
              <a href="./" data-mobile-link class="nav__link">How it’s made?</a>
            </li>
            <li class="nav__item">
              <a href="./" data-mobile-link class="nav__link">Our products</a>
            </li>
            <li class="nav__item">
              <a href="./" data-mobile-link class="nav__link">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <button class="header__btn-tablet">Buy now</button>

    <div class="header__text-group">
      <h3 class="header__subtitle">ice cream</h3>
      <h3 class="header__subtitle">made with</h3>
      <h2 class="header__title">passion</h2>
    </div>

    <div class="header__btn-group">
      <button class="button button--primary">Products</button>
      <button class="button button--secondary">How it’s made?</button>
    </div>

    <div class="header__milk">
      <div class="header__milk-content">
        <pre class="header__milk-text">
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor
incididunt ut labore et
        </pre>
        <button class="header__milk-btn"></button>
      </div>
    </div>

    <div class="header__numbers"></div>
    <div class="header__girl"></div>
  </div>
</header>
