<header class="header">
  <div class="container header__container">
    <a href="./" class="header__logo">
      <img src="./images/header/logo.png" alt="logo" class="header__logo-img" />
    </a>

    <div class="mobile-menu">
      <button class="mobile-menu__btn menu-btn" data-menu-btn>
        <span class="menu-btn__line"></span>
      </button>
      <div class="mobile-menu__wrapp" data-menu>
        <div class="btn-container">
          <button class="button" data-modal-open>Buy now</button>
        </div>
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="./" data-mobile-link class="nav__link">Home</a>
            </li>
            <li class="nav__item">
              <a href="./" data-mobile-link class="nav__link">About us</a>
            </li>
            <li class="nav__item">
              <a href="./" data-mobile-link class="nav__link">How it’s made?</a>
            </li>
            <li class="nav__item">
              <a href="./" data-mobile-link class="nav__link">Our products</a>
            </li>
            <li class="nav__item">
              <a href="./" data-mobile-link class="nav__link">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <button class="button button--tablet" data-modal-open>Buy now</button>
    <!-- Модальне вікно -->
    <div class="backdrop is-hidden" data-modal>
      <div class="modal">
        <h2 class="modal__title">Leave your details, we will call you back</h2>
        <div class="modal__close">
          <svg class="modal__cross" width="18px" height="18px" data-modal-close>
            <use href="./images/header/icons/symboldefs.svg#icon-cross"></use>
          </svg>
        </div>
        <form action="" class="form">
          <label for="" class="form__label">
            Name
            <input type="text" class="form__input" />
            <svg class="form__icon" width="18px" height="18px">
              <use
                href="./images/header/icons//symboldefs.svg#icon-person"
              ></use>
            </svg>
          </label>
          <label for="" class="form__label">
            Phone
            <input type="tel" class="form__input" />
            <svg class="form__icon" width="18px" height="18px">
              <use href="./images/header/icons/symboldefs.svg#icon-phone"></use>
            </svg>
          </label>
          <label for="" class="form__label">
            Email
            <input type="email" class="form__input" />
            <svg class="form__icon" width="18px" height="18px">
              <use href="./images/header/icons/symboldefs.svg#icon-email"></use>
            </svg>
          </label>
          <label for="" class="form__label">
            Comment
            <textarea
              name=""
              id=""
              placeholder="Enter the text"
              class="form__comment"
            ></textarea>
          </label>
          <div class="access">
            <label for="" class="access__label">
              <input
                type="checkbox"
                width="16px"
                height="15px"
                class="access__checkbox"
              />
            </label>
            <span class="access__text"
              >I agree to the newsletter and accept</span
            >
            <a href="#" class="access__link">Terms of the contract</a>
          </div>
        </form>
        <button type="button" data-modal-close class="button-send">Send</button>
      </div>
    </div>
    <div class="header__text-group">
      <h3 class="header__subtitle">ice cream</h3>
      <h3 class="header__subtitle">made with</h3>
      <h2 class="header__title">passion</h2>
    </div>

    <div class="header__btn-group">
      <button class="button button--primary">Products</button>
      <button class="button button--secondary">How it’s made?</button>
    </div>

    <div class="header__milk">
      <div class="header__milk-content">
        <pre class="header__milk-text">
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor
incididunt ut labore et
        </pre>
        <button class="header__milk-btn"></button>
      </div>
    </div>

    <div class="header__numbers"></div>
    <div class="header__girl"></div>
  </div>
</header>
