<header class="header">
  <div class="container header__container">
    <a href="./" class="logo">
      <img src="./images/header/logo.png" alt="logo" class="logo__img" />
    </a>

    <div class="mobile-menu">
      <button class="mobile-menu__btn menu-btn" data-menu-btn>
        <span class="menu-btn__line"></span>
      </button>

      <div class="mobile-menu__wrapp" data-menu>
        <div class="btn-container">
          <button class="button">Buy now</button>
        </div>

        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="./" data-mobile-link class="nav__link">Home</a>
            </li>
            <li class="nav__item">
              <a href="./" data-mobile-link class="nav__link">About us</a>
            </li>
            <li class="nav__item">
              <a href="./" data-mobile-link class="nav__link">How it’s made?</a>
            </li>
            <li class="nav__item">
              <a href="./" data-mobile-link class="nav__link">Our products</a>
            </li>
            <li class="nav__item">
              <a href="./" data-mobile-link class="nav__link">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="text-sub-title">
      <h3 class="sub-title header__sub-title">ice cream</h3>
      <h3 class="sub-title header__sub-title">made with</h3>
          <h2 class="title header__title">passion</h2>
    </div>

    <div class="btn-div">
      <button class="button button--primary">Products</button>
      <button class="button button--secondary">How it’s made?</button>
    </div>
  </div>
</header>
