<section class="places">
  <div class="container">
    <ul class="places__list">
      <li class="places__item">
        <div class="places__container">
          <h3 class="places__title">CAFE</h3>
          <div class="places__info">
            <h4 class="places__type">Chicago</h4>
            <p class="places__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <div class="places__grafic">
            <p class="places__days">Monday - Friday</p>
            <p class="palces__time">06:00 AM - 10:00 PM</p>
            <p class="places__days">Saturday - Sunday</p>
            <p class="palces__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="places__contacts">
            <a href="#" class="phone">+61(0) 383 766 284</a>
            <a href="#" class="email">noreply@envato.com</a>
          </div>
        </div>
      </li>
      <li class="places__item">
        <div class="places__container">
          <h3 class="places__title places__title--foodtruck">FOODTRUCK</h3>
          <div class="places__info">
            <h4 class="places__type">Los Angeles</h4>
            <p class="places__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <div class="places__grafic">
            <p class="places__days">Monday - Friday</p>
            <p class="palces__time">06:00 AM - 10:00 PM</p>
            <p class="places__days">Saturday - Sunday</p>
            <p class="palces__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="places__contacts">
            <a href="#" class="phone">+61(0) 383 766 284</a>
            <a href="#" class="email">noreply@envato.com</a>
          </div>
        </div>
      </li>
      <li class="places__item">
        <div class="places__container">
          <h3 class="places__title">CAFE</h3>
          <div class="places__info">
            <h4 class="places__type">New York</h4>
            <p class="places__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <div class="places__grafic">
            <p class="places__days">Monday - Friday</p>
            <p class="palces__time">06:00 AM - 10:00 PM</p>
            <p class="places__days">Saturday - Sunday</p>
            <p class="palces__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="places__contacts">
            <a href="#" class="phone">+61(0) 383 766 284</a>
            <a href="#" class="email">noreply@envato.com</a>
          </div>
        </div>
      </li>
    </ul>
    <ul class="button__list">
      <div class="backdrop is-hidden" data-modal>
        <div class="modal">
          <ul class="modal__list">
            <li class="modal__item">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6045.080870523826!2d-73.99918069999998!3d40.7501368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2591747829bfb%3A0x52dc1cf5a6d5b54b!2s405%20W%2028th%20St%2C%20New%20York%2C%20NY%2010001%2C%20USA!5e0!3m2!1sen!2sit!4v1763286337078!5m2!1sen!2sit"
                width="300"
                height="400"
                class="modal__info"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </li>
          </ul>
        </div>
      </div>
      <li class="button__item">
        <button type="button" class="location" data-modal-open>
          Our Locations
          <svg class="arrow__red">
            <use href="./images/arrow-red.svg"></use>
          </svg>
        </button>
      </li>
      <li class="button__item">
        <button class="franchise">
          Franchise
          <svg class="arrow__white">
            <use href="./images/arrow-white.svg"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
  <script type="module" src="./js/modal.js"></script>
</section>
