<section class="places">
  <div class="container">
    <ul class="places__list">
      <li class="places__item">
        <div class="places__container">
          <h3 class="places__title">CAFE</h3>
          <div class="places__info">
            <h4 class="places__type">Chicago</h4>
            <p class="places__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <div class="places__grafic">
            <p class="places__days">Monday - Friday</p>
            <p class="palces__time">06:00 AM - 10:00 PM</p>
            <p class="places__days">Saturday - Sunday</p>
            <p class="palces__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="places__contacts">
            <a class="phone">+61(0) 383 766 284</a>
            <a class="email">noreply@envato.com</a>
          </div>
        </div>
      </li>
      <li class="places__item">
        <div class="places__container">
          <h3 class="places__title places__title--foodtruck">FOODTRUCK</h3>
          <div class="places__info">
            <h4 class="places__type">Los Angeles</h4>
            <p class="places__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <div class="places__grafic">
            <p class="places__days">Monday - Friday</p>
            <p class="palces__time">06:00 AM - 10:00 PM</p>
            <p class="places__days">Saturday - Sunday</p>
            <p class="palces__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="places__contacts">
            <a for="phone">+61(0) 383 766 284</a>
            <a for="email">noreply@envato.com</a>
          </div>
        </div>
      </li>
      <li class="places__item">
        <div class="places__container">
          <h3 class="places__title">CAFE</h3>
          <div class="places__info">
            <h4 class="places__type">New York</h4>
            <p class="places__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <div class="places__grafic">
            <p class="places__days">Monday - Friday</p>
            <p class="palces__time">06:00 AM - 10:00 PM</p>
            <p class="places__days">Saturday - Sunday</p>
            <p class="palces__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="places__contacts">
            <a for="phone">+61(0) 383 766 284</a>
            <a for="email">noreply@envato.com</a>
          </div>
        </div>
      </li>
    </ul>
    <ul class="button__list">
      <li class="button__item">
        <button class="location">Our Locations</button>
      </li>
      <li class="button__item">
        <button class="franchise">Franchise</button>
      </li>
    </ul>
  </div>
</section>
