<section class="products">
  <div class="container products__container">
    <h2 class="products__title">100% natural</h2>
    <h1 class="products__sub-title">products</h1>
    <ul class="products__list">
      <li class="list-item">
        <div class="image-container">
          <img src="./images/icecream.png" alt="icecream" />
        </div>
        <h3 class="product-name">ice cream</h3>
        <span class="list-item__point"></span>
        <h3 class="about-product">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </h3>
        <div class="arrow-container">
          <img src="./images/arrow-right2.svg" alt="arrow-right2" />
        </div>
      </li>
      <li class="list-item">
        <div class="image-container">
          <img src="./images/icecofee.png" alt="icecofee" />
        </div>
        <h3 class="product-name">ice coffee</h3>
        <span class="list-item__point"></span>
        <h3 class="about-product">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </h3>
        <div class="arrow-container">
          <img src="./images/arrow-right2.svg" alt="arrow-right2" />
        </div>
      </li>
      <li class="list-item">
        <div class="image-container">
          <img src="./images/milkshake.png" alt="icecofee" />
        </div>
        <h3 class="product-name">milkshakes</h3>
        <span class="list-item__point"></span>
        <h3 class="about-product">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </h3>
        <div class="arrow-container">
          <img src="./images/arrow-right2.svg" alt="arrow-right2" />
        </div>
      </li>
    </ul>
  </div>
</section>
