<section class="section__rewiev">
  <div class="container review__container">
    <div class="icecream-images-container">
      <img src="./images/home-pic5.png" alt="icecreams" />
    </div>
    <div class="container swiper-carusel__container">
      <div class="swiper">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <article class="rewiev">
              <div class="image__container">
                <img
                  class="reviews__image"
                  src="./images/emily.svg"
                  alt="emily"
                />
              </div>
              <div class="review-text-container">
                <h3 class="review__text">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor
                  risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                  congue. Lorem ipsum primis in nibh vel risus.
                </h3>
              </div>
              <h4 class="reviews__name">Emily, Los Angeles</h4>
            </article>
          </li>
          <li class="swiper-slide">
            <article class="rewiev">
              <div class="image__container">
                <img
                  class="reviews__image"
                  src="./images/ariana.svg"
                  alt="emily"
                />
              </div>
              <div class="review-text-container">
                <h3 class="review__text">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor
                  risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                  congue. Lorem ipsum primis in nibh vel risus.
                </h3>
              </div>
              <h4 class="reviews__name">Ariana, London</h4>
            </article>
          </li>
          <li class="swiper-slide">
            <article class="rewiev">
              <div class="image__container">
                <img
                  class="reviews__image"
                  src="./images/clara.svg"
                  alt="emily"
                />
              </div>
              <div class="review-text-container">
                <h3 class="review__text">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor
                  risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                  congue. Lorem ipsum primis in nibh vel risus.
                </h3>
              </div>
              <h4 class="reviews__name">Clara, New York</h4>
            </article>
          </li>
        </ul>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
