<div class="container review__container">
  <div class="icecream-images-container">
    <img src="./images/home-pic5.png" alt="icecreams" />
  </div>
  <div class="image__container">
    <img class="reviews__image" src="./images/emily.svg" alt="emily" />
  </div>
  <div class="review-text-container">
    <h3 class="review">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
      sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in
      nibh vel risus.
    </h3>
  </div>
  <span class="points">
    <svg
      width="32"
      height="4"
      viewBox="0 0 32 4"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="16" cy="2" r="2" fill="#C7133E" />
      <circle cx="2" cy="2" r="2" fill="#C7133E" />
      <circle cx="30" cy="2" r="2" fill="#C7133E" />
    </svg>
  </span>
  <h4 class="reviews__name">Emily, Los Angeles</h4>
  <div class="change">
    <span class="review_change"
      ><svg
        width="13"
        height="12"
        viewBox="0 0 13 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12.2399 5.85484C12.4646 5.60772 12.4429 5.22897 12.1915 5.00908L6.65189 0.161935C6.40045 -0.0579491 5.99732 -0.0533429 5.75118 0.172319L0.19278 5.26751C-0.0533671 5.49318 -0.0654482 5.87145 0.166032 6.11206L0.305389 6.25719C0.536587 6.49781 0.910293 6.52649 1.13955 6.32107L1.55495 5.94907V11.3953C1.55495 11.7295 1.82571 12 2.15962 12H4.32629C4.6602 12 4.93096 11.7295 4.93096 11.3953V7.58515H7.69458V11.3953C7.68977 11.7292 7.92869 11.9998 8.26259 11.9998H10.5587C10.8926 11.9998 11.1634 11.7292 11.1634 11.3951V6.02575C11.1634 6.02575 11.2781 6.12628 11.4197 6.25069C11.561 6.37485 11.8577 6.2753 12.0824 6.02794L12.2399 5.85484Z"
          fill="#D31342"
        />
      </svg>
    </span>
    <span class="review_change">
      <svg
        width="12"
        height="12"
        viewBox="0 0 12 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="6" cy="6" r="6" fill="#D9D9D9" />
      </svg>
    </span>
    <span class="review_change"
      ><svg
        width="12"
        height="12"
        viewBox="0 0 12 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="6" cy="6" r="6" fill="#D9D9D9" />
      </svg>
    </span>
  </div>
</div>
