<div class="container review__container">
  <div class="icecream-images-container">
    <img src="./images/home-pic5.png" alt="icecreams" />
  </div>
  <div class="container swiper-carusel__container">
    <div class="swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <article class="rewiew">
            <div class="image__container">
              <img
                class="reviews__image"
                src="./images/emily.svg"
                alt="emily"
              />
            </div>
            <div class="review-text-container">
              <h3 class="review__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </h3>
            </div>
            <h4 class="reviews__name">Emily, Los Angeles</h4>
          </article>
        </li>
        <!-- <li class="swiper-slide">
          <div class="image__container">
            <img
              class="reviews__image"
              src="./images/testimonials11.svg"
              alt="emily"
            />
          </div>
          <div class="review-text-container">
            <h3 class="review">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </h3>
          </div>
          <h4 class="reviews__name">Clara, London</h4>
        </li>
        <li class="swiper-slide">
          <div class="image__container">
            <img
              class="reviews__image"
              src="./images/testimonials12.svg"
              alt="emily"
            />
          </div>
          <div class="review-text-container">
            <h3 class="review">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </h3>
          </div>
          <h4 class="reviews__name">Anjelika, New York</h4>
        </li> -->
      </ul>
      <!-- Якщо потрібна пагінація -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
