.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.btn-div {
  display: flex;
  z-index: 2;
  gap: 6px;
  position: relative;
  margin-top: 17px;
}

.button {
  border-radius: 22px;
  cursor: pointer;
  border: none;
  color: $colorTextTitle;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  z-index: 2;
  width: 209px;
  height: 44px;
  position: relative;
  padding-right: 68px;

  &::before {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 6px;
    background-image: url('../images/header/button-decor.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding-right: 46px;
  }

  &--primary {
    background-color: $colorTextTitle;
    color: #fff;
    width: 62px;
    height: 24px;
    font-size: 8px;
    padding: 0;

    &::before {
      content: none;
      padding-right: initial;
    }
  }

  &--secondary {
    background-color: $colorTextPrimery;
    color: $colorTextTitle;
    width: 82px;
    height: 24px;
    font-size: 8px;
    padding: 0;

    &::before {
      content: none;
      padding-right: initial;
    }
  }
}
