.footer {
  background: $colorBgPrimary;
  padding: 40px 0;
  font-family: $font-family;
}

.footer__container {
  width: 90%;
  margin: 0 auto;
}

.footer__top {
  text-align: left;
}

.footer__subtitle {
  color: $colorTextSubTitle;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
}

.footer__title {
  color: $colorTextTitle;
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 24px;
  line-height: 1.1;
}

.footer__socials {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  margin: 24px 0;
  padding: 0;
}

.footer__social__link {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: $colorTextSubTitle;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;

  &:hover {
    transform: scale(1.08);
  }
}

.footer__contact {
  font-size: 14px;
  margin-top: 12px;
  text-align: right;
  color: $colorTextSecondary;
}

.footer__phone {
  color: $colorTextTitle;
  font-weight: 700;
  padding-left: 5px;
}

.footer__bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 20px;
  text-align: center;
}

.footer__copyright {
  font-size: 14px;
  color: $colorTextThirthry;
}

@media (min-width: 768px) {
  .footer {
    padding: 60px 0;
  }

  .footer__top {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    column-gap: 40px;
    align-items: center;
  }

  .footer__subtitle {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .footer__socials {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-content: flex-end;
  }

  .footer__title {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 56px;
    margin-bottom: 0;
  }

  .footer__contact {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: end;
    font-size: 16px;
    margin: 0;
  }

  .footer__bottom {
    margin-top: 40px;
  }
}

@media (min-width: 1280px) {
  .footer__container {
    width: 1200px;
  }

  .footer__title {
    font-size: 64px;
  }

  .footer__top {
    grid-template-columns: 1fr auto;
    column-gap: 80px;
  }
}
