/* modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  width: 450px;
  height: 609px;
  background-color: #ffffff;

  margin: 0 auto;
  transform: translate(-50%, -50%);
  padding: 40px;

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $colorTextTitle;
  }

  &__cross:hover {
    fill: $colorTextTitle;
  }
  &__close {
    position: absolute;
    top: 14px;
    right: 10px;
    padding-top: 6px;
    padding-bottom: 2px;
    border-radius: 50%;
    padding-left: 6px;
    padding-right: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}
.form {
  display: flex;
  flex-direction: column;

  &__label {
    display: flex;
    position: relative;
    margin-top: 10px;
    flex-direction: column;
    row-gap: 5px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: $colorTextTitle;
  }
  &__input {
    height: 40px;
    padding-left: 42px;
    border: 2px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      border: 2px solid $colorTextTitle;
    }
  }

  &__icon {
    position: absolute;
    top: 30px;
    left: 11px;
    .form__input:hover ~ & {
      fill: $colorTextTitle;
    }
  }
  &__comment {
    width: 100%;
    height: 120px;
    padding-top: 12px;
    padding-left: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
  }
}
.access {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;

  &__checkbox {
    position: relative;
    top: 3px;
  }
  &__text {
    margin-left: 8px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575;

    @media screen and (min-width: 1200px) {
      font-size: 14px;
    }
  }
  &__link {
    display: flex;
    margin-left: 3px;
    text-decoration: underline;
    color: $colorTextTitle;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 171%;
    letter-spacing: 0.03em;

    @media screen and (min-width: 1200px) {
      font-size: 14px;
    }
  }
}
.button-send {
  width: 200px;
  padding: 10px 52px;
  margin-left: 85px;
  margin-right: 85px;
  background-color: $colorTextTitle;
  color: $colorTextPrimery;
  font-family: $font-family;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  position: relative;
  height: 44px;
  cursor: pointer;
  border-radius: 34px;
  overflow: hidden;
  transition-property: transform, opacity, box-shadow;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 209px;
    height: 60px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: $colorTextPrimery;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  &:hover::before {
    scale: 3;
  }
  &:hover {
    color: $colorTextTitle;
    transform: scale(1.1);
    opacity: 80%;
    border: 2px solid $colorTextTitle;
    z-index: 1;
  }
  &:active {
    scale: 1;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 123px;
    margin-right: 123px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
