.header {
  background-color: #ffb8ca;
  position: relative;
  overflow: hidden;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 502px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 32px;
      width: 100%;
      height: 100%;
      background-image: url('../images/header/ice-cream.png');
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: auto 80%;
      z-index: 1;
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -20%;
      transform: translateY(-50%);
      width: 346px;
      height: 344px;
      border-radius: 100%;
      background: #ffa5ba;
      z-index: 0;
    }
    .logo {
      margin-top: 7px;
      margin-right: 20px;
      width: 199px;
      height: 50px;
    }
    .mobile-menu {
      position: absolute;
      top: 25px;
      right: 18px;
      z-index: 3;
    }
    .text-sub-title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 3px;
      margin-top: 137px;
      z-index: 2;
      padding: 0;
    }
    .sub-title {
      color: $colorTextPrimery;
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 26px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #fff;
      gap: 0;
      padding: 0;
    }

    .title {
      color: $colorTextPrimery;
      font-family: var(--second-family);
      font-weight: 400;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      font-size: 48px;
      line-height: 96%;
      color: #d41443;
      gap: 0;
    }
  }
}
