.made {
  background-image: url(../images/made/made-bg-milk.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: contain;
  background-color: $colorBgPrimary;
}
.made__secondtitle {
  font-family: $second-family;
  //   ======nepravilniq rozmir======
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffa5ba;
  margin-bottom: 15px;
}
.made__title {
  font-family: $second-family;
  // ======nepravilniq rozmir======
  font-weight: 400;
  font-size: 34px;
  letter-spacing: 0.04em;
  //   ======nepravilniq line-height======
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  color: $colorTextTitle;
  margin-bottom: 26px;
}
.made__foto {
  height: 279px;
  width: 280px;
  margin-inline: auto;
  margin-bottom: 46px;
}
.made__text--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.made__text--1 {
  font-family: $font-family;
  font-size: 12px;
  line-height: 1.62;
  color: $colorTextSecondary;
  padding-inline: 30px;
  margin-bottom: 47px;
}
.made__text--2 {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 1.62;
  color: $colorTextThirthry;
  padding-inline: 30px;
  margin-bottom: 47px;
}
.made__button {
  border-radius: 22px;
  background-color: $colorTextPrimery;
  color: $colorTextTitle;
  font-family: $font-family;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  position: relative;
  text-align: center;
  padding: 10px 56px 10px 37px;
  margin-left: 30px;
  margin-bottom: 39px;
  &::after {
    content: '';
    position: absolute;
    right: 15px;
    top: 40%;
    width: 6px;
    height: 10px;
    background-image: url('../images/made/strilka.png');
    background-repeat: no-repeat;
    background-size: contain;
    left: 75%;
  }
}
.made__svg {
  fill: $colorTextTitle;
  width: 5px;
  height: 8px;
}
.made__list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  row-gap: 38px;
}
.made__item--first::before {
  content: '';
  background-image: url(../images/made/icon-milking.webp);
  background-repeat: no-repeat;
  display: block;
  width: 33px;
  height: 50px;
  background-size: contain;
  background-position: center;
}
.made__item--second::before {
  content: '';
  background-image: url(../images/made/icon-apple.webp);
  background-repeat: no-repeat;
  display: block;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-position: center;
}
.made__item--third::before {
  content: '';
  background-image: url(../images/made/icon-heart.webp);
  background-repeat: no-repeat;
  display: block;
  width: 44px;
  height: 50px;
  background-size: contain;
  background-position: center;
}
.made__item--title {
  font-family: $second-family;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $colorTextTitle;
}
.made__item--text {
  font-family: $font-family;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: $colorTextSecondary;
}
/* ====== Tablet ====== */
// @media (min-width: 480px) and (max-width: 768px) {
//   .made{

//   }
// }
/* ======== Desktop ======= */
// @media (min-width: 768px) {
// }
