@media (max-width: 767px) {
  .mobile-menu__wrapp {
    display: flex;
    flex-direction: column;
    background-color: #E17992;
    position: fixed;
    inset: 0;
    padding: 20px;
    transform: translateX(-100%);
    transition: transform 1s linear;
    z-index: 998;
  }
  .mobile-menu__wrapp.is-open {
    transform: translateX(0);
  }
}
@media (min-width: 768px) {
  .mobile-menu__wrapp {
    display: flex;
    justify-content: space-between;
  }
}
