.nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0; 
  margin-top: 20px;
}

.nav__item {

  padding: 15px 0; 
  border-bottom: 1px solid #E18298;

  &:first-child {
    border-top: 1px solid #E18298;
  }

}

.nav__link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  display: block;
}
