.nav {
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-top: 20px;
    padding: 0;
  }

  &__item {
    padding: 15px 0;
    border-bottom: 1px solid #e18298;

    &:first-child {
      border-top: 1px solid #e18298;
    }
  }

  &__link {
    text-decoration: none;
    color: $colorTextPrimery;
    font-size: 16px;
    font-weight: 500;
    display: block;
  }
}

/* ---------- desktop ---------- */
@media (min-width: 1200px) {
  .nav {
    align-self: flex-start;
    margin-top: 0;

    &__list {
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 35px;
    }

    &__item {
      padding: 0;
      border: none;
      &:first-child {
        border: none;
      }
    }

    &__link {
      font-weight: 700;
      font-size: 16px;
    }
  }
}