.nav {
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-top: 20px;
    padding: 0;
  }

  &__item {
    padding: 15px 0;
    border-bottom: 1px solid #e18298;

    &:first-child {
      border-top: 1px solid #e18298;
    }
  }

&__link {
  text-decoration: none;
  color: $colorTextPrimery;
  font-size: 18px;
  font-weight: 800;
  display: block;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;


  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;

  &:focus,
  &:hover {
    color: $colorTextTitle;
  }

  &:focus:after,
  &:hover:after {
    width: 100%;
    left: 0%;
  }

  &:after {
    content: '';
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: $colorTextTitle;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
}
}

/* ---------- desktop ---------- */
@media (min-width: 1200px) {
  .nav {
    align-self: flex-start;
    margin-top: 0;

    &__list {
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 35px;
    }

    &__item {
      padding: 0;
      border: none;
      &:first-child {
        border: none;
      }
    }

    &__link {
      font-weight: 700;
      font-size: 16px;
    }
  }
}
