.places {
  background-color: #fff5f6;
}
// не контейнер
.places__container {
  padding-left: 20px;
  padding-right: 21px;
  padding-bottom: 43px;
  padding-top: 43px;
}
.places__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: -84px;
  padding-left: 30px;
  padding-right: 30px;
}
.places__item {
  background-color: $colorTextPrimery;
  border-radius: 24px;
  box-shadow: 0px 4px 4px 0px #00000025;
}
.places__info {
  width: 179px;
  border-bottom: 1px;
  border-color: $colorTextThirthry;
}
.places__grafic {
  width: 179px;
  border-bottom: 1px;
  border-color: $colorTextThirthry;
  padding-bottom: 25px;
}
.places__grafic::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: $colorTextThirthry;
  display: block;
  margin-top: 25px;
}
.places__title {
  width: 80px;
  height: 16px;
  background-color: $colorCardPrimery;
  color: $colorTextPrimery;
  font-size: 12px;
  font-weight: 500;
  border-radius: 24px;
  text-align: center;
}
.places__title--foodtruck {
  width: 130px;
  height: 16px;
  background-color: $colorCardSecondary;
  color: $colorTextPrimery;
  font-size: 12px;
  font-weight: 500;
}
.places__type {
  margin-top: 25px;
  font-size: 12px;
  font-weight: 400;
  color: #000000;
}
.places__text {
  font-size: 12px;
  font-weight: 400;
  color: $colorTextThirthry;
  width: 179px;
  padding-bottom: 25px;
}
.places__text::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: $colorTextThirthry;
  display: block;
  margin-top: 25px;
}

.places__days {
  font-size: 12px;
  font-weight: 400;
  color: $colorTextSecondary;
}
.palces__time {
  font-size: 12px;
  font-weight: 400;
  color: $colorTextSubTitle;
}
.phone {
  font-size: 12px;
  font-weight: 400;
  color: $colorTextThirthry;
}
.email {
  font-size: 12px;
  font-weight: 400;
  color: $colorTextThirthry;
}
.location {
  background-color: $colorTextTitle;
  color: $colorTextPrimery;
  border-radius: 22px;
  padding-left: 17px;
  padding-right: 18px;
  padding-top: 15px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
}
.franchise {
  background-color: $colorTextPrimery;
  color: $colorTextTitle;
  border-radius: 22px;
  padding-left: 32px;
  padding-right: 33px;
  padding-top: 15px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
}
.button__list {
  padding-top: 54px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.arrow__red {
  width: 10px;
  height: 10px;
  margin-left: 8px;
}
.arrow__white {
  width: 10px;
  height: 10px;
  margin-left: 8px;
}
